<!-- <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand w-auto" href="#">
        <img src="./assets/images/logo-nav.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>   
</div> -->

<div>
  <nav class="navbar-grid bg-primary text-white py-2"
    [ngClass]="currentUrl==='/docs' ? 'navbar-grid-with-docs' : 'navbar-grid-without-docs' ">
    <div class="nav-item" *ngIf="currentUrl==='/docs'">
      <i-feather name="menu"></i-feather>
    </div>
    <div class="navbar-brand-logo">
      <img src="./assets/images/logo-nav.png" alt="">
    </div>
    <div class="nav-item" routerLink="/docs">
      DOCS
    </div>
    <div class="nav-item" routerLink="/community">
      Community
    </div>
    <div class="nav-item">
      Blog <i-feather name="external-link"></i-feather>
    </div>
    <div class="social-media d-flex ms-auto">
      <ul class="nav-item-right">
        <li class="right-nav-item-li">a</li>
        <li class="right-nav-item-li">
          <i-feather name="moon"></i-feather>
        </li>
        <li class="right-nav-item-li">
          <i-feather name="twitter"></i-feather>
        </li>
        <li class="right-nav-item-li">
          <i-feather name="github"></i-feather>

        </li>
        <li class="right-nav-item-li">
          <i-feather name="youtube"></i-feather>

        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="customized-container">
  <div class="h-100">
    <router-outlet></router-outlet>
  </div>
</div>